
{% include 'parts/header.html.twig' %}
{% include 'parts/leftMenu.html.twig' with {'categories': categories} %}

{% block body %}
    <h1>{{ article.title }}</h1>
    <p>{{ article.content }}</p>

    <h2>Commentaires</h2>
    <ul>
        {% for comment in comments %}
            <div>
                <p><strong>Auteur:</strong> {{ comment.user.email }}</p>
                <p>{{ comment.content }}</p>
            </div>
        {% else %}
            <p>Aucun commentaire n'a été posté pour cet article.</p>
        {% endfor %}
    </ul>

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <h3>Ajouter un commentaire</h3>
        {{ form_start(form) }}
        {{ form_row(form.content) }}
        <button type="submit">Envoyer</button>
        {{ form_end(form) }}
    {% else %}
        <h3>Connectez-vous pour ajouter un commentaire</h3>
    {% endif %}
{% endblock %}