{% extends 'base.html.twig' %}

{% block title %}LifeHacksBlog - {{ article.title }}{% endblock %}

{% block body %}
    <div class="containerPosition">
        <div class="containerLeftMenu">
            {% include 'parts/leftMenu.html.twig' %}
        </div>

        <div class="containerMainArticleShow">
            <div class="containerArticleShow">
                <h1>{{ article.title }}</h1>
                <p>{{ article.content }}</p>
            </div>

            <div class="containerComments">
                <h2>Commentaires</h2>

                <ul>
                    {% for comment in comments %}
                        <div class="containerOneComment">
                            <p><strong>Auteur:</strong> {{ comment.user.email }}</p>
                            <p>{{ comment.content }}</p>
                        </div>
                    {% else %}
                        <p>Aucun commentaire n'a été posté pour cet article.</p>
                    {% endfor %}
                </ul>
            </div>

            <div class="containerAddComment">
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <h2>Ajouter un commentaire</h2>
                    {{ form_start(form, { 'attr': { 'class': 'commentForm' } }) }}
                    <div class="formField">
                        {{ form_widget(form.content, { 'attr': { 'class': 'form-control' } }) }}
                    </div>
                    <button type="submit" class="submitBtn">Envoyer</button>
                    {{ form_end(form) }}
                {% else %}
                    <h3>Connectez-vous pour ajouter un commentaire</h3>
                {% endif %}
            </div>
        </div>
    </div>
    {% include 'parts/footer.html.twig' %}
{% endblock %}