<aside class="left-menu">
    <a href="{{ path('app_home') }}" class="logo">
        <h1>LifeHacksBlog</h1>
    </a>

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <div class="welcome-message">
            <span>Bienvenue, {{ app.user.email }} !</span>
        </div>
    {% endif %}

    <button class="toggle-btn" onclick="toggleSection('categories')">
        Catégories
    </button>
    <ul id="categories" class="category-list collapsible">
        {% for category in categories %}
            <li>
                <a href="{{ path('category_show', {'id': category.id}) }}" class="menu-item category">
                    {{ category.name }}
                </a>
            </li>
        {% endfor %}
    </ul>

    <button class="toggle-btn" onclick="toggleSection('languages')">
        Langues
    </button>
    <ul id="languages" class="language-list collapsible">
        {% for language in languages %}
            <li>
                <a href="{{ path('language_show', {'id': language.id}) }}" class="menu-item language">
                    {{ language.name }}
                </a>
            </li>
        {% endfor %}
    </ul>

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <a href="{{ path('app_logout') }}" class="menu-item logout">
            <span>Déconnexion</span>
        </a>
    {% else %}
        <a href="{{ path('app_login') }}" class="menu-item login">
            <span>Connexion</span>
        </a>
        <a href="{{ path('app_register') }}" class="menu-item register">
            <span>Inscription</span>
        </a>
    {% endif %}
</aside>
